body {
  background: linear-gradient(-45deg, #1d03c5,#251a35, #4a0077, #c62263);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

ul{
  padding: 0;
  list-style-type: none;
}

.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

.AppBody {
  min-height: 100vh;
  color: white;
}

.App-link {
  color: #61dafb;
}

.form {
  justify-content: top;
  display: flex;
  flex-direction: column;
}

.form_nextTo{
  justify-content: center;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  align-items:center;
  justify-items:center;
}

.form_window_right {
  justify-content: right;
  display: flex;
  flex-direction: column-reverse;
  position: absolute;
  left: 0px;
  width: 40%;
  max-width: 250px;
}



.top_bar_button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  margin: 5px;
}

.top_bar_button:hover {
  background-color: rgb(33, 85, 33);
  color: rgb(240, 240, 240);
  transition: 250ms ease;
  box-shadow: inset 0 0 0 2px;
}

.overlay_button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  margin: 5px;
}

.overlay_button:hover {
  background-color: rgb(33, 85, 33);
  color: rgb(240, 240, 240);
  transition: 350ms ease;
  box-shadow: inset 0 0 0 2px;
}

#input_game_id{
  border-radius: 8px;
  width: 30%;
  font-size: 20px;
  padding: 12px 32px;
  min-width: 145px
}

.invis{
  position: absolute;
  left:0px;
  top:0px;
  width: 30px;
  height: 50px;
}

.Textbox {
  display: flex;
  flex-direction: column;
}

.GameInfo {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-items:center;
}
.GameInfo button{
  width: 40%;
}

.footer_container{
  display: flex;
  justify-content: center;
  background-color: #1a1825;
  color:rgb(159, 159, 159);
  bottom: 0;
}

.RenderGameList{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.active_games li  {
  display: flex;
  justify-content: center;
  flex-direction: column;
  list-style: none;
  background-color: rgb(33, 34, 45);
  font-size: 16px;
  width: 100%;
}

.active_games li:hover {

  background-color: rgb(25, 24, 35);
  font-size: 16px;
  padding-left: 30px;
  transition: 350ms ease;
  box-shadow: inset 0 0 0 3px #363535;
}

@media screen and (max-width: 490px) {

  #button_toggle_profile{
    display: none;
  }

  
}

.RenderGameList {
  width: auto;
}

.RenderPlayerList {
  width: auto;
}

.Textbox_gameplay {
  
  justify-content: middle;
  align-items:center;
  display: flex;
  flex-direction: column;
}
