body {
  background: linear-gradient(-45deg, #1d03c5,#251a35, #4a0077, #c62263);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}



@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

ul{
  padding: 0;
  list-style-type: none;
}
li{
  padding: 0;
  list-style-type: none;
}

.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: clamp(15px, 18px, 22px);
  color: white;
}

.AppBody {
  min-height: 100vh;
  color: white;
  font-size: clamp(15px, 18px, 20px);
}

.App-link {
  color: #61dafb;
}

.form {
  display: flex;
  flex-direction: column;
}

.form_nextTo{
  margin-top: 2rem;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  justify-items:center;
}

/* Frontpage show Players*/
.form_window_right {
  justify-content: right;
  display: flex;
  flex-direction: column-reverse;
  position: absolute;
  left: 0px;
  width: 40%;
  max-width: 250px;
}

.start_text{
  margin-top: 20vh;

}

.top_bar_button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  border-radius: 8px;
  margin: 10px;
  box-shadow: 3px 4px rgba(63, 255, 115, 0.4);
}

.top_bar_button:hover {
  background-color: rgb(33, 85, 33);
  color: rgb(240, 240, 240);
  transition: 350ms ease;
  box-shadow: inset 0 0 0 2px;
}

.overlay_button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  margin: 5px;
}

.overlay_button:hover {
  background-color: rgb(33, 85, 33);
  color: rgb(240, 240, 240);
  transition: 350ms ease;
  box-shadow: inset 0 0 0 2px;
}

#input_game_id{
  border-radius: 8px;
  width: 30%;
  font-size: 0.9rem;
  padding: 12px 32px;
  min-width: 145px;
  max-width: 250px;
  margin-left: 6px;
  box-shadow: 3px 4px rgba(0, 0, 0, 0.20);
}

.invis{
  position: absolute;
  left:0px;
  top:0px;
  width: 30px;
  height: 50px;
}

.GameInfo {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-items:center;
}
.GameInfo button{
  width: 15rem;
}

.footer_container{
  display: flex;
  justify-content: center;
  background-color: rgba(26, 24, 37, 70%);
  color:rgb(240, 240, 240);
  bottom: 0;
}
.RenderPlayerList {
  width: auto;
}

.Textbox_gameplay {
  align-items:center;
  display: flex;
  flex-direction: column;
}
.RenderGameList{
  align-items:center;
  display: flex;
  flex-direction: column;
}

.active_games li{
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: left;
  padding-left: 10px;
  border-radius: 5px;
  font-size: 1.2rem;
  background-color: rgba(33, 34, 45, 0.6);
  box-shadow: 0px 5px rgba(33, 3, 47, 0.6);
}

.active_games li:hover {
  background-color: rgba(37, 26, 53, 0.8);
  font-size: 1.4rem;
  transition: 350ms ease;
  box-shadow: inset 0 0 0 2px;
}


.CreateAccount {
  margin-top: 40px;
  padding: 12px 32px;
}

.LoginAccount{
  padding: 12px 32px;
}

.text_name{
  border-radius: 8px;
  width: 30%;
  font-size: 1rem;
  padding: 12px 32px;
  min-width: 145px;
  max-width: 250px;
  box-shadow: 3px 4px rgba(0, 0, 0, 0.2);
}

#button_login{
  margin-left: 15px;
}
#button_account_login{
  margin-left: 15px;
  padding-right: 55px;
  padding-left: 55px;
}

.body_buttons{
  background-color: #b874c2;
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  border-radius: 15px;
  margin: 6px;
  box-shadow: 2px 3px rgba(109, 36, 149, 0.8);
}
.body_buttons:hover{
  background-color: #5a24b4;
  color: rgb(240, 240, 240);
  transition: 350ms ease;
  box-shadow: inset 0 0 0 3px;
}

.profile_survey{
  display: flex;
  flex-direction: column;
  margin-left: 22vw;
  margin-right: 22vw;
  text-align: left;
  padding-left: 10px;
  border-radius: 5px;
  background-color: rgba(37, 26, 53, 0.8);
  box-shadow: 0px 5px rgba(33, 3, 47, 0.6);
}
.profile_rows{
  display: flex;
  flex-direction: row;;
}
.profile_stats{
  padding-left: 20px;
}


.animation_container{
  animation: animate 2s alternate infinite;
  margin-right:300px;
  margin-left:300px;
  
}

@keyframes animate{
  0%{
      transform: rotateZ(-20deg);
  }
  
  50%{
    transform: rotateZ(20deg);
  }

}

@media screen and (max-width: 490px){


  #button_toggle_profile{
    display: none;
  }
  body{
    background: #290c37;
  }
  .top_bar_button{
    font-size: 1rem;
  }
}

@media screen and (max-height: 490px){

  body{
    background: #290c37;
  }

}